# MSI stuff
config/global_vars.txt
slurm_logs/*
config/archive_sdr/

# hazelbean files
c:/*

# setup.py related
*.egg-info/

# Python cache files
*/__pycache__/*
*.pyc

explore*
data*
landslide_mitigation_tasks/local_tasks_*